.task {
  margin: 10px 10px;
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 4px solid transparent;

  &__title {
    margin-bottom: 10px;
  }

  &__category {
    display: inline-block;
    margin-bottom: 10px;
  }

  &__desc {
    margin-bottom: 10px;
  }

  &__control {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--favorite {
    border-bottom: 4px solid #ff6905;
  }

  &--done {
    background-color: #a6e9b1;
  }

}

